USE [MyProps]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[Id] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[LeagueId] [int] NOT NULL,
	[TeamVisitorId] [int] NOT NULL,
	[TeamHomeId] [int] NOT NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[Duration] [nvarchar](50) NULL,
	[Clock] [nvarchar](20) NULL,
	[IsHalftime] [bit] NOT NULL,
	[Short] [int] NOT NULL,
	[Status] [nvarchar](40) NULL,
	[CurrentPeriod] [int] NOT NULL,
	[TotalPeriod] [int] NOT NULL,
	[EndOfPeriod] [bit] NOT NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameScore]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameScore](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[Win] [int] NULL,
	[Loss] [int] NULL,
	[PointsQ1] [int] NULL,
	[PointsQ2] [int] NULL,
	[PointsQ3] [int] NULL,
	[PointsQ4] [int] NULL,
	[TotalPoints] [int] NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_GameScore] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameStats]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameStats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[FastBreakPoints] [int] NULL,
	[PointsInPaint] [int] NULL,
	[BiggestLead] [int] NULL,
	[SecondChancePoints] [int] NULL,
	[PointsOffTurnovers] [int] NULL,
	[LongestRun] [int] NULL,
	[TotalPoints] [int] NULL,
	[FieldGoalsMade] [int] NULL,
	[FieldGoalsAttempted] [int] NULL,
	[FieldGoalPercentage] [nvarchar](max) NULL,
	[FreeThrowsMade] [int] NULL,
	[FreeThrowsAttempted] [int] NULL,
	[FreeThrowPercentage] [nvarchar](max) NULL,
	[ThreePointShotsMade] [int] NULL,
	[ThreePointShotsAttempted] [int] NULL,
	[ThreePointShotPercentage] [nvarchar](max) NULL,
	[OffensiveRebounds] [int] NULL,
	[DefensiveRebounds] [int] NULL,
	[TotalRebounds] [int] NULL,
	[Assists] [int] NULL,
	[PersonalFouls] [int] NULL,
	[Steals] [int] NULL,
	[Turnovers] [int] NULL,
	[Blocks] [int] NULL,
	[PlusMinus] [nvarchar](max) NULL,
	[MinutesPlayed] [nvarchar](max) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_GameStats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[League]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[League](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_League] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Player]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Player](
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[BirthDate] [datetime2](7) NULL,
	[BirthCountry] [nvarchar](max) NULL,
	[NbaYearStart] [int] NULL,
	[NbaYearPro] [int] NULL,
	[HeightFeets] [nvarchar](max) NULL,
	[HeightInches] [nvarchar](max) NULL,
	[HeightMeters] [nvarchar](max) NULL,
	[WeightPounds] [nvarchar](max) NULL,
	[WeightKilograms] [nvarchar](max) NULL,
	[College] [nvarchar](max) NULL,
	[Affiliation] [nvarchar](max) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[Position] [nvarchar](max) NULL,
 CONSTRAINT [PK_Player] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerStats]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerStats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
	[GameId] [int] NOT NULL,
	[TotalPoints] [int] NULL,
	[Position] [nvarchar](max) NULL,
	[MinutesPlayed] [nvarchar](max) NULL,
	[FieldGoalsMade] [int] NULL,
	[FieldGoalsAttempted] [int] NULL,
	[FieldGoalPercentage] [nvarchar](max) NULL,
	[FreeThrowsMade] [int] NULL,
	[FreeThrowsAttempted] [int] NULL,
	[FreeThrowPercentage] [nvarchar](max) NULL,
	[ThreePointShotsMade] [int] NULL,
	[ThreePointShotsAttempted] [int] NULL,
	[ThreePointShotPercentage] [nvarchar](max) NULL,
	[OffensiveRebounds] [int] NULL,
	[DefensiveRebounds] [int] NULL,
	[TotalRebounds] [int] NULL,
	[Assists] [int] NULL,
	[PersonalFouls] [int] NULL,
	[Steals] [int] NULL,
	[Turnovers] [int] NULL,
	[Blocks] [int] NULL,
	[PlusMinus] [nvarchar](max) NULL,
	[Comment] [nvarchar](max) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_PlayerStats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Season]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Season](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Year] [int] NOT NULL,
	[DateStart] [datetime2](7) NULL,
	[DateEnd] [datetime2](7) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Season] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[NickName] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NULL,
	[IsAllStar] [bit] NOT NULL,
	[IsNbaFranchise] [bit] NOT NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamStats]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamStats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamId] [int] NOT NULL,
	[SeasonId] [int] NOT NULL,
	[GameCount] [int] NOT NULL,
	[FastBreakPoints] [int] NULL,
	[PointsInPaint] [int] NULL,
	[BiggestLead] [int] NULL,
	[SecondChancePoints] [int] NULL,
	[PointsOffTurnovers] [int] NULL,
	[LongestRun] [int] NULL,
	[TotalPoints] [int] NULL,
	[FieldGoalsMade] [int] NULL,
	[FieldGoalsAttempted] [int] NULL,
	[FieldGoalPercentage] [nvarchar](max) NULL,
	[FreeThrowsMade] [int] NULL,
	[FreeThrowsAttempted] [int] NULL,
	[FreeThrowPercentage] [nvarchar](max) NULL,
	[ThreePointShotsMade] [int] NULL,
	[ThreePointShotsAttempted] [int] NULL,
	[ThreePointShotPercentage] [nvarchar](max) NULL,
	[OffensiveRebounds] [int] NULL,
	[DefensiveRebounds] [int] NULL,
	[TotalRebounds] [int] NULL,
	[Assists] [int] NULL,
	[PersonalFouls] [int] NULL,
	[Steals] [int] NULL,
	[Turnovers] [int] NULL,
	[Blocks] [int] NULL,
	[PlusMinus] [nvarchar](max) NULL,
	[MinutesPlayed] [nvarchar](max) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_TeamStats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsHalftime]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT (CONVERT([bit],(0))) FOR [EndOfPeriod]
GO
ALTER TABLE [dbo].[Game] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[GameScore] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[GameStats] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[League] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Player] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[PlayerStats] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Season] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[TeamStats] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_League_LeagueId] FOREIGN KEY([LeagueId])
REFERENCES [dbo].[League] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_League_LeagueId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Season_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Season_SeasonId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Team_TeamHomeId] FOREIGN KEY([TeamHomeId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Team_TeamHomeId]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Team_TeamVisitorId] FOREIGN KEY([TeamVisitorId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Team_TeamVisitorId]
GO
ALTER TABLE [dbo].[GameScore]  WITH CHECK ADD  CONSTRAINT [FK_GameScore_Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GameScore] CHECK CONSTRAINT [FK_GameScore_Game_GameId]
GO
ALTER TABLE [dbo].[GameScore]  WITH CHECK ADD  CONSTRAINT [FK_GameScore_Team_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[GameScore] CHECK CONSTRAINT [FK_GameScore_Team_TeamId]
GO
ALTER TABLE [dbo].[GameStats]  WITH CHECK ADD  CONSTRAINT [FK_GameStats_Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[GameStats] CHECK CONSTRAINT [FK_GameStats_Game_GameId]
GO
ALTER TABLE [dbo].[GameStats]  WITH CHECK ADD  CONSTRAINT [FK_GameStats_Team_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[GameStats] CHECK CONSTRAINT [FK_GameStats_Team_TeamId]
GO
ALTER TABLE [dbo].[PlayerStats]  WITH CHECK ADD  CONSTRAINT [FK_PlayerStats_Game_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([Id])
GO
ALTER TABLE [dbo].[PlayerStats] CHECK CONSTRAINT [FK_PlayerStats_Game_GameId]
GO
ALTER TABLE [dbo].[PlayerStats]  WITH CHECK ADD  CONSTRAINT [FK_PlayerStats_Player_PlayerId] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Player] ([Id])
GO
ALTER TABLE [dbo].[PlayerStats] CHECK CONSTRAINT [FK_PlayerStats_Player_PlayerId]
GO
ALTER TABLE [dbo].[PlayerStats]  WITH CHECK ADD  CONSTRAINT [FK_PlayerStats_Team_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[PlayerStats] CHECK CONSTRAINT [FK_PlayerStats_Team_TeamId]
GO
ALTER TABLE [dbo].[TeamStats]  WITH CHECK ADD  CONSTRAINT [FK_TeamStats_Season_SeasonId] FOREIGN KEY([SeasonId])
REFERENCES [dbo].[Season] ([Id])
GO
ALTER TABLE [dbo].[TeamStats] CHECK CONSTRAINT [FK_TeamStats_Season_SeasonId]
GO
ALTER TABLE [dbo].[TeamStats]  WITH CHECK ADD  CONSTRAINT [FK_TeamStats_Team_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[TeamStats] CHECK CONSTRAINT [FK_TeamStats_Team_TeamId]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 30/06/2025 20:25:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Error] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[RecordCount] [int] NULL,
	[StackTrace] [nvarchar](max) NULL,
	[RequestData] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[Severity] [nvarchar](50) NULL,
	[InactiveDate] [datetime2](7) NULL,
	[Active] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ErrorLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorLog] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Active]
GO
